[submodule "jenkins_infra_setup"]
	path = jenkins_infra_setup
	url = https://github.com/cqNikolaus/jenkins_infra_setup.git
[submodule "jenkins_configs"]
	path = jenkins_configs
	url = https://github.com/cqNikolaus/jenkins_configs.git
